In [1]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\vanda\anaconda3\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import pandas as pd
from time import sleep
from kafka import KafkaConsumer, KafkaProducer
from json import dumps
import json

In [21]:
producer = KafkaProducer(bootstrap_servers=['3.145.119.154:9092'],
                        value_serializer=lambda x:
                        dumps(x).encode('utf-8'))

In [22]:
producer.send('test', value="{'Hi':'VandY'}")

In [23]:
df= pd.read_csv("indexProcessed.csv")

In [24]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [25]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
83032,GDAXI,2000-06-28,7050.839844,7072.640137,7010.669922,7056.049805,7056.049805,32441300.0,8608.380762

In [26]:
df.sample(1).to_dict(orient="records")[0]

{'Index': 'N225',
 'Date': '2000-03-31',
 'Open': 20371.07031,
 'High': 20550.09961,
 'Low': 20259.34961,
 'Close': 20337.32031,
 'Adj Close': 20337.32031,
 'Volume': 0.0,
 'CloseUSD': 203.3732031}

In [35]:
while True:
    stock_dict=df.sample(1).to_dict(orient="records")[0]
    producer.send('test',value=stock_dict)
    sleep(1)

KeyboardInterrupt:

In [18]:
#producer.flush()